<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.michal.lottochecker">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.michal.lottochecker.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.michal.lottochecker.lottoPlus.LottoPlusActivity"
            android:parentActivityName="com.michal.lottochecker.MainActivity" />

        <activity
            android:name="com.michal.lottochecker.mainLotto.LottoActivity"
            android:parentActivityName="com.michal.lottochecker.MainActivity" />

        <activity
            android:name="com.michal.lottochecker.AuthorActivity"
            android:parentActivityName="com.michal.lottochecker.MainActivity" />
    </application>

</manifest>